<div class="container">
	<label>Recipe Name</label>
	<input class="form-control" type="text" ng-model="recipe.name">

	<label>Decription</label>
	<textarea
        type="text"
        ng-model="recipe.description"
        placeholder="Enter the recipe description here"
        class="form-control"
        rows="10">
    </textarea>

	<label>Instructions</label>
	<textarea
        type="text"
        ng-model="recipe.instructions"
        placeholder="Enter the recipe instructions here"
        class="form-control"
        rows="10">
    </textarea>

    <button class="btn btn-sm btn-success fa fa-check-circle" ng-click="updateRecipe()"> Save</button>
</div>